.newfeed-staff {
    height: 100vh;
}

.content-container-header-staff {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fef2f2;
    box-shadow: 10px 0 10px #969191;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;

    h1 {
        margin-bottom: 0 !important;
    }

    .btn-logout-staff-nf {
        font-size: 24px;
    }
}

.new-feed-container-staff {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    margin-top: 10px;
    padding-top: 50px;

    .post-content-container-staff {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px auto;
        padding: 30px 20px;
        border: 1px solid #000;
        border-radius: 10px;
        margin-top: 10px;
        justify-content: space-around;
        box-shadow: 10px 10px 10px #ccc;

        .remove-post {
            display: flex;
            flex-direction: row-reverse;
            cursor: pointer;
            color: #ff0404;
            justify-content: center;
            align-items: center;

            .h2 {
            }

        }

        .icon-trash {
            font-size: 24px;
            margin-left:10px ;
        }

        .post-img {
            width: 20%;
            object-fit: cover;
            border: 1px solid;
        }

        .post-infor {
            width: 60%;
            background-color: #fef2f2;
            margin-left: 20px;
            padding-left: 50px;
            text-align: left;
            border: 1px solid #bebaba;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;


            h3 {
                margin-top: 20px;
            }

            span {
                font-weight: 700;
            }

            .btn-join {
                padding: 10px 50px;
                background-color: #3b6d36;
                color: #fff;
            }

            .infor-slot {
                text-align: left;
                padding-left: 70px;
            }
        }

    }
}

b {
    font-weight: bold !important;
    font-size: 1.5rem;
}

.header-post-staff {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.body-post-staff {
    display: flex;
}

.member-name-post {
    font-weight: bold;

    p {
        font-size: 1.2rem;
    }
}