.new-feed-container {
    width: 80%;
    background-color: #fff;

    .club-title-new-feed {
        position: relative;
        display: flex;
        margin-left: 60px;
        height: 360px;
        // background-color: #efefef;
        padding: 5px 40px;
        border-radius: 0 0 5px 5px;
        width: 100%;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-left: 0px;
        padding-bottom: 10px;

        span {
            color: black;
        }

        p {
            color: black;
            font-weight: 400;
            margin-left: 10px;
        }

        p:first-child {
            font-weight: 700;
            font-size: 53px;
            margin: 0;
        }
    }

    .post-container {
        margin: 50px auto 20px;
        height: 126px;
        width: 80%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        padding: 30px 0;
        box-shadow: 10px 10px 10px #ccc;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;

        img {
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
        }


        .post-input {
            border-radius: 20px;
            width: 80%;
            height: 50px;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #d0cdcd;

            &:hover {
                background-color: #e6e6e6;
                cursor: pointer;
            }

        }

        .post-line {
            width: 90%;
            height: 2px;
            background-color: #d0cdcd;
            margin: 0 auto;

        }
    }

    h5 {
        margin-left: 60px;
        font-weight: bold;
    }

    .main-post-container {
        height: fit-content;
        padding: 20px;
        width: 90%;
        background-color: white;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #ccc;
        border: 1px solid #ccc;

        .poster-name {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 10px;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;


            p {
                margin: 0;
                font-weight: bold;
                font-size: 1.5rem;
            }

            div {
                color: #000;
            }
        }

        .caption {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 30px;
        }

        .post-content-container {
            margin-left: 30px;
            display: flex;
        }

        .post-img {
            object-fit: cover;
            max-width: 16%;
            border: 1px solid rgb(190, 186, 186);
        }

        .post-infor {
            padding-left: 50px;
            width: 1000px;
            text-align: left;
            background-color: white;
            margin-left: 20px;
            border: 1px solid #bebaba;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;


            h3 {
                margin-bottom: 20px;
                font-weight: 900;
            }

            .btn-join {
                padding: 10px 50px;
                background-color: #3b6d36;
                color: #fff;
                width: 22%;
                text-align: center;
                border-radius: 5px;
                margin-top: 20px;
            }

            b {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }


    }

}

.form-group {
    margin-bottom: 10px;

    label {
        font-weight: bold;
    }

    span {
        margin-left: 20px;
    }

    input,
    select {
        height: 50px;
    }
}

.confirm {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
    font-size: 18px;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.confirm-button,
.cancel-button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.confirm-button:hover,
.cancel-button:hover {
    opacity: 0.8;
}

.confirm-button:focus,
.cancel-button:focus {
    box-shadow: 0 0 0 2px #4caf50;
    outline: none;
}

.cancel-button:focus {
    box-shadow: 0 0 0 2px #f44336;
}

.member-join {
    margin-top: 30px;

    span {
        font-size: 20px;
        width: 400px;
        margin-right: 30px;
    }

    .member-item {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

.no-posts-message {
    font-size: 32px;
    padding-left: 50px;
}