#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
    font-size: 18px;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(212, 50, 50);
    font-size: 18px;

    &:hover {
        background-color: transparent !important;
        color: rgb(212, 50, 50) !important;
    }
}

.btn-detail {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: #2a4525;
    font-size: 18px;
}

.modal-user-container {

    // margin: 0 !important;
    .modal-header {
        background-color: #f1e9e9;

        button {
            background-color: transparent !important;
            border: none;
            font-size: 40px;
            font-weight: bold;
            color: #000;

            &:hover {
                color: #ff0c0c;
            }
        }
    }

    .modal-user-body {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding: 10px 30px !important;
        justify-content: center;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 60%;

            &.max-width-input {
                width: 100%;
            }

            input {
                border-radius: 5px;
                border: 1px solid grey;
                height: 50px;
                outline: none;
                padding: 0 10px;
            }

            .select {
                height: 50px !important;
            }

            label {
                font-weight: bold;
                font-size: 1.2rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }

}

.modal-content {
    border-radius: 30px !important;
    width: 50%;
    height: fit-content;
    overflow: hidden;

}

.modal.show .modal-dialog {
    transform: none;
    height: 100%;
    align-items: center;
    display: flex;
}

.modal-footer {
    background-color: #f1e9e9;

    .add-btn {
        height: 50px;
        width: 150px;
        font-weight: bold;
        background-color: rgba(91, 138, 90, 0.826) !important;
        font-size: 1.3rem;

        &:hover {
            background-color: rgba(120, 230, 118, 0.826) !important;
            color: #000;
        }
    }

    .close-btn {
        font-size: 1.3rem;
        width: 120px;
        height: 50px;
        font-weight: bold;

    }
}

.add-Member {
    margin-bottom: 20px !important;
    border-radius: 5px;
}