#sportsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sportsTable td,
#sportsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sportsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sportsTable tr:hover {
    background-color: #ddd;
}

#sportsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit-sport {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
    font-size: 18px;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete-sport {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(212, 50, 50);
    font-size: 18px;

    &:hover {
        background-color: transparent !important;
        color: rgb(212, 50, 50) !important;
    }
}

.btn-detail-sport {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: #2a4525;
    font-size: 18px;
}

.modal-sport-container {
    // Add your modal styles here
    // Example: margin: 0 !important;
    .modal-header {
        button {
            background-color: transparent !important;
            border: none;
            font-size: 30px;
            color: white;
        }
    }

    .modal-sport-body {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 49%;

            &.max-width-input {
                width: 100%;
            }
    
            input {
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }
}
