#sportsTable-staff {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

#sportsTable-staff td,
#sportsTable-staff th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sportsTable-staff tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sportsTable-staff tr:hover {
    background-color: #ddd;
}

#sportsTable-staff th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #436850;
    color: white;
}

.sports-table-staff {
    height: 100%;
    background-color: #EFF5F5;
    padding: 80px 50px;
    margin-top: 50px;

}

.btn-add-club-staff {
    padding: 8px 20px;
    background-color: #A6CF98;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}