// .wrapper {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     width: auto;
//     padding: 5px 8px;
//     border-radius: 30px;
//     font-size: 1.8rem;
//     color: white;
//     font-weight: 500px;
//     background-color: #fff;
//     user-select: none;
//     border: 1px solid #000000;
//     margin-right: 10px;
//     margin-top: 8px;
//     margin-left: 8px;



//     &:hover {
//         background-color: #f7c79b;
//     }

//     .title {
//         color: #000000;
//     }
// }

// .small {
//     padding: 5px 15px;
//     background-color: #fff;

// }

// .list {
//     padding: 5px 15px;
//     background-color: #FEAE65;
// }

// .primary {
//     background-color: #fff;
//     display: flex;
//     padding: 5px 10px;
//     border: 2px solid #443d3d;


//     &:focus {
//         background-color: #FEAE65;
//     }

// }




// .active {
//     background-color: #6de8db;
//     border-radius: 10px;
//     padding: 3px 10px;

//     &:hover {
//         background-color: #92e2da;
//     }
// }


// .notActive {}

// .edit {
//     width: auto;
//     color: whitesmoke;
//     background-color: #fce293;

//     &:hover {
//         background-color: #ffc107;
//     }
// }

// .remove {
//     padding: 5px 10px;
//     background-color: #887f7f;
//     border-radius: 20px;
//     border: 2px solid #000;
//     color: #fff;

//     &:hover {
//         color: #e6e4e4;
//         background-color: #f04242;
//     }
// }

.loginbtn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 50px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #E4AEC5;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(251, 95, 95);
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

    &:hover {
        color: #243D25;
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) scale(1.1);
        background-color: #e78bb3;

    }
}