.login-background {
    height: 100vh;
    background-image: url('../../assets/Sport/login-background.jpg');
    background-size: contain;
    opacity: 0.8;

    .login-container {
        width: 40%;
        height: 80%;
        margin: auto;
        border-radius: 10px;
        color: #000;
        background-color: transparent;
        position: absolute;
        box-shadow: 5px 5px 10px #000;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .login-content {
            padding: 20px;
            height: 70%;

            .text-login {
                text-align: center;
                font-weight: 700;
                font-size: 3rem;
                padding-top: 10px;
            }

            .login-input {
                margin: 20px 0;

                span {
                    display: flex;
                    align-items: center;
                    margin-left: 0;
                }

                input {
                    height: 50px;
                    background-color: transparent;
                    border: none;
                    border-radius: 0%;
                    border-bottom: 2px solid #000;
                    caret-color: #000;
                    color: #000;

                    &::placeholder {
                        color: #000;
                    }
                }

                .custom-input-password {
                    position: relatives;
                    display: flex;
                    align-items: center;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }

                label {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }

            .btn-login {
                width: 100%;
                margin: 20px 0 10px 0;
                text-align: center;
                height: 50px;
                border-radius: 5px;
                color: white;
                outline: none;
                border: none;
                font-size: 1.5rem;
                background-color: #0e8a8a;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background: #c32424;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background: #307aaf;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
            }
        }
    }
}

.error-message {
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.fomr-control:focus {
    outline: none !important;
    border: none !important;
}