.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/Sport/login-background.png');
  background-size: cover;
  border-radius: 10px;
  border: 1px dashed #000;
  flex-direction: column;
  box-shadow: 10px 10px 10px #34883b;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e5ece4;
}

h1 {
  font-size: 3rem !important;
  display: block;
  color: #fff;
}

.login-btn {
  margin-top: 20px;
}

.wc-img {
  margin-top: 30px;
  background-image: url('../../assets/others/welcome.jpg');
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50px;
  border: 2px solid rgb(251, 95, 95);

  &:hover {
    box-shadow: 5px 5px 10px #000;
  }
}