.body {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; 
  
      .header-logo {
        flex: 1; 
        text-align: center; 
  
        .logo {
          height: 44px;
          width: 72%;
          margin: 0 auto; 
        }
      }
  
      .col-6 {
        flex: 1; 
        text-align: center; 
      }
  
      .col-3 {
        flex: 1; 
        text-align: center; 
      }
    }
  }
  