.member-list-container-staff {
    background-color: #fff;
    margin: 0 !important;
    text-align: -webkit-center;

    h1 {
        margin-bottom: 50px;
        text-align: center;
    }

    .btn-back-staff {
        height: 40px;
        width: 120px;
        display: flex;
        background-color: #92C7CF;
    }
}

.fa {
    font-size: 30px !important;
    margin-right: 10px;
}

.TableHead {
    font-weight: bold;
}

.table-container {
    background-color: #EFF5F5;
    padding: 30px;
    margin-top: 30px;
}