.main-club-container {
    min-height: 800px !important;
    display: flex;
}

.side-bar-main {
    width: 28%;
    background-color: #fff;
    text-align: center;
    height: 100vh;
    border-right: 1px solid #ccc;
    font-size: 26px;
}

.btn-backHome {
    width: 100%;
    padding: 10px 40px;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.tab-btn {
    background-color: transparent;
    width: 100%;
    padding: 30px 40px;
    font-weight: bold;
    border-bottom: 1px solid #e9e1e1;
    cursor: pointer;
}

.tab-btn:hover {
    background-color: #cad4c9;
}

.tab-btn.active {
    background-color: #cad4c9;
}

.sub-tab {
    background-color: transparent;
    width: 90%;
    padding: 30px 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e9e1e1;
    font-size: 12px;
    color: #766a6a;
}

.tab-content {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(217, 213, 213);
    display: grid;
    // justify-content: space-between;
}

.not-finished,
.finished {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.not-finished.active,
.finished.active {
    color: rgb(6, 185, 6);
}

.not-finished:hover,
.finished:hover {
    color: rgb(6, 185, 6);
}

