.body {
    display: flex;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    align-items: center;

    .header-logo {
        background: url('../../assets/logoHeader/logo.png') center center no-repeat;
        height: 90%;
        width: 280px;
        cursor: pointer;
        background-size: cover;
    }

    .middle {

        .content-middle {
            display: flex;
            align-items: center;
            gap: 200px;
            margin-bottom: 20px;

            i {
                font-size: 32px;
            }

            .child-content {

                b {
                    font-size: 25px;
                    cursor: pointer;

                    &:hover {
                        color: #5cbb50;
                    }
                }
            }

            .header-icon {
                margin-top: 12px;
                margin-right: 28px;
                display: flex;
                gap: 50px;

                i {
                    font-size: 32px;
                }
            }
        }
    }


    .content-right {
        margin-left: 120px;
        display: flex;
        align-items: center;
        gap: 20px;

        .header-image {
            background: url('../../assets/avatar/adminLogo.webp') center center no-repeat;
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

        .header-userInfo {
            font-size: 26px;
            font-weight: 400;
            text-transform: uppercase;
        }

        i {
            font-size: 32px;
            cursor: pointer;
        }
    }
}