.side-bar-staff {
    width: 10%;
    border-right: 0.5px solid #ccc;
    background-color: #fff;
    text-align: -webkit-center;
    height: 100vh;
    background-color: #EFF5F5;
}

.content-container {
    width: 90%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.staff-container {
    display: flex;
}

.header-staff {
    background-color: #fff;
    height: 70px;
    display: flex;
    position: relative;
    color: #fff;
    box-shadow: 0 5px 10px #ccc;
}

.btn-logout-staff {
    float: right;
    height: 100%;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;

    &:hover {
        color: #e37575;
    }
}

.logout-icon {
    font-size: 20px;
}

.child-content-staff {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 50px;
    color: #000;

    b {
        font-size: 25px;
        cursor: pointer;
    }

    &:hover {
        color: #000;
        cursor: pointer;
        background-color: #92C7CF;

    }

    &.active {
        color: #fff;
        background-color: #92C7CF;
    }
}

.header-title-staff {
    margin: 0 auto;
    height: 100%;
    display: flex;
}