.container-footer {
    width: 100% !important;
    height: 400px !important;
    background-color: #769971 !important;
    text-align: center;
    margin-top: 100px;
    position: relative;
    border-top: 1px solid #000;
}

.footer-title {
    padding: 20px 0;
}

.copyright {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.copy-icon {
    margin-right: 10px;
}

.infor-footer {
    font-size: 1.5rem;
    font-weight: 800;
}