.container-club {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.side-bar {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .btn-back {
        background-color: #a4ce9f;
        width: 100%;
        padding: 10px 20px;
        border: none;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
}

.club-header {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;

    h2 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: #333; 
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    }

    p {
        font-size: 1.5rem;
        color: #555; 
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
    }

    span {
        font-size: 1.2rem;
        color: #777; 
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
    }
}


.main-club {
    text-align: center;
    overflow-y: auto; 
    padding: 20px;

    .img-background {
        width: 100%;
        max-height: 500px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 15px 30px;
        border-radius: 10px;
        font-weight: bold;
        margin-top: 10px;
    }

    .join-btn {
        background-color: #a4ce9f;
        color: #000;
    }

    .leave-btn {
        margin-left: 10px;
        background-color: #dbdbdb;
        color: #000;
    }

    .view-btn {
        background-color: #96dad1;
        color: #000;
    }
}
