.container-club {
    background-color: #fff;
    height: 100%;

    .line {
        height: 1px;
        width: 80%;
        background-color: #000;
        margin: 100px auto 0 auto;
    }

    .club-title {
        color: #000;
        margin-top: 80px;
        text-align: center;

    }
}

.clubs {
    height: 100%;
    display: flex;
}

.content-middle {
    height: fit-content;
    margin-top: 50px !important;
}

.image-club {
    border-radius: 10px !important;
    height: 250px !important;
    width: 350px !important;
    margin-bottom: 20px;

}

.club {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;

    &:hover {
        cursor: pointer;
    }

}

.club-name {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}