@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.loading-icon {
    animation: spin 1s linear infinite;
    font-size: 50px;
}

// .history-page-container {
//   padding: 20px;
// }

// .history-wrapper {
//   display: grid;
//   grid-template-columns: 1fr auto; 
//   grid-column-gap: 20px;
//   max-width: 100%; 
//   overflow-x: auto; 
// }

// .transaction-history-table {
//   overflow-x: auto; 
// }

// #customers {
//   width: auto; 
//   table-layout: fixed; 
//   // width: 1200px;
// }

// #customers th, #customers td {
//   padding: 8px;
//   text-align: left;
//   border: 1px solid #ddd;
// }

// #customers th {
// }

// .wallet-detail-popup {
//   background-color: #f9f9f9;
//   border: 1px solid #ddd;
//   border-radius: 5px;
//   padding: 15px;
//   height: 200px;
// }
