.club-manage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 10px;
    gap: 20px;
    background-color: #EFF5F5;

    img {
        width: 300px;
        height: 300px;
        cursor: pointer;

    }

    .club-staff {
        text-align: center;
        border-radius: 5px;
        border: 1px dashed #ccc;
        padding: 10px 0;
        background-color: #fff;

        &:hover {
            opacity: 0.9;
        }

        h4 {
            padding: 10px 0;
            cursor: pointer;

        }
    }

    .approved {
        color: #5dce51;
        font-size: 1.2rem;
    }

    .waiting {
        font-size: 1.2rem;

    }

    .reject-club {
        font-size: 1.2rem;
        color: red;
    }

    .btn-myclub {
        padding: 10px 20px;
        margin: 10px 5px;
        border-radius: 5px;
        border: 0.5px solid #000;

        &.mem-list-btn {
            background-color: #e7f2e5;
        }

        &.delete-club-staff {
            background-color: #f64c3d;
        }
    }
}