.club-manage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 50px;
    gap: 20px;
    background-color: #EFF5F5;
    min-height: 100vh;

    img {
        width: 300px;
        height: 300px;
        cursor: pointer;

    }

    .club-staff {
        text-align: center;
        border-radius: 5px;
        border: 1px dashed #ccc;
        padding: 10px 0;
        background-color: #fff;
        height: fit-content;

        &:hover {
            opacity: 0.9;
        }

        h4 {
            padding: 10px 0;
            cursor: pointer;

        }
    }

    .approved {
        color: #5dce51;
        font-size: 1.2rem;
    }

    .waiting {
        font-size: 1.2rem;

    }

    .reject-club {
        font-size: 1.2rem;
        color: red;
    }

    .btn-myclub {
        padding: 10px 20px;
        margin: 10px 5px;
        border-radius: 5px;
        border: 0.5px solid #000;

        &.mem-list-btn {
            background-color: #e7f2e5;
        }

        &.delete-club-staff {
            background-color: #f64c3d;
        }

        &.btn-post-club-staff {
            background-color: #dfc36f;

        }
    }


}

.body-info {
    padding: 50px 20px !important;
    font-size: 24px;
    height: 800px;

    .css-34nofg-MuiTableRow-root {
        display: table-caption;
    }

    .MuiTableRow-root {
        border: 1px solid #000;

    }

    td {
        font-size: 24px;
    }
}

.table-head {
    border: 1px solid #000;
    background-color: #368894;
    color: #fff;

    thead {
        border: 1px solid #000;

    }
}

.edit-club-staff {
    color: #f64c3d;
}